<template>
  <GridLayout rows="*, auto, auto">
    <ScrollView
      row="0"
      scrollBarIndicatorVisible="false"
      paddingBottom="100"
    >
      <GridLayout rows="*, *">
        <!-- Customer List Tiles -->
        <StackLayout row="1">
          <Label
            text="Dash Board"
            class="pl10 sf fw800 fs20"
            color="#374064"
          ></Label>

          <GridLayout
            rows="*"
            columns="*,*"
            class="profile-tiles"
          >

            <card-view
              margin="10"
              elevation="15"
              radius="10"
              col="0"
              ripple="true"
              @tap="onSell"
            >
              <StackLayout
                paddingright="5"
                class="grid2"
              >
                <GridLayout
                  rows="55,*"
                  columns="*"
                  class="list-tiles t6"
                >
                  <Image
                    col="0"
                    row="0"
                    src="~/assets/icons-colors/serving-dish.png"
                  />
                  <Label
                    row="2"
                    col="0"
                    text="Sale"
                    class="fs16 fw800 mt"
                    verticalAlignment="center"
                    horizontalAlignment="center"
                  ></Label>
                </GridLayout>
              </StackLayout>
            </card-view>

            <card-view
              margin="10"
              elevation="15"
              radius="10"
              col="1"
              ripple="true"
              @tap="onFastSell"
            >
              <StackLayout
                paddingLeft="5"
                class="grid2"
              >
                <GridLayout
                  rows="55,*"
                  columns="*"
                  class="list-tiles t6"
                >
                  <Image
                    col="0"
                    row="0"
                    src="~/assets/icons-colors/package.png"
                  />
                  <Label
                    row="1"
                    col="0"
                    text="Fast Sale"
                    class="fs16 fw800 mt"
                    verticalAlignment="center"
                    horizontalAlignment="center"
                  ></Label>
                </GridLayout>
              </StackLayout>
            </card-view>
          </GridLayout>
        </StackLayout>
      </GridLayout>
    </ScrollView>
  </GridLayout>
</template>

<script>
import { APIService } from "../../api/ApiService";
import Vue from "nativescript-vue";
Vue.registerElement(
  "CardView",
  () => require("nativescript-cardview").CardView
);
import Table from "../table/Table";
import Order from "../order/Order";
export default {
  name: "dashboard",
  data() {
    return {
      tableId: "",
      tableName: "",
      floorName: "",
      generalGuestId: ""
    };
  },
  mounted() {
    this.getTable();
    this.getGeneralGuest();
  },
  methods: {
    onSell() {
      this.$navigateTo(Table);
    },
    // Get Table Id
    getTable() {
      var tableUrl = `find_table_and_floor/{}/{}`;
      APIService.get(tableUrl).then(response => {
        this.tableId = response.data.result.filterTables[0]._id;
        this.tableName = response.data.result.filterTables[0].name;
        this.floorName = response.data.result.filterTables[0].floorName;
      });
    },
    // Get General guest Id
    getGeneralGuest() {
      let url = '/find_one_guest/{"name":"General"}/{}';
      APIService.get(url).then(response => {
        this.generalGuestId = response.data.result._id;
      });
    },
    onFastSell() {
      var doc = {
        tableId: this.tableId,
        floorName: this.floorName,
        tableName: this.tableName,
        employeeId: JSON.parse(localStorage.getItem("userData"))._id,
        guestId: this.generalGuestId,
        fastSale: true
      };

      this.$navigateTo(Order, {
        props: {
          doc: doc
        }
      });
    }
  }
};
</script>

<style scoped>
/* Use Class */
.profile-tiles {
  height: 120;
  margin: 10;
  border-radius: 5;
}

.btn-container {
  height: 120;
  margin: 0 10 10 10;
  border-radius: 5;
}

.logout-btn-container {
  height: 120;
  margin: 0 10 0 10;
  border-radius: 5;
}

.text-check-btn {
  color: #ffffff;
  height: 35%;
  /* background: linear-gradient(to right, #5ca4c9, #1e88e5); */
  border-radius: 5;
}

.grid2 {
  margin: 10;
  width: 50%;
}
.list-tiles {
  border-radius: 5;
}
.profile-img {
  width: 100;
  height: 100;
  border-radius: 100;
}
.pl10 {
  padding-top: 15;
  padding-left: 15;
}

.fw800 {
  font-weight: 800;
}
.sf {
  font-family: SF Pro Display;
  font-weight: 800;
}
.t0 {
  /* background: rgb(255, 89, 162); */
  background: linear-gradient(
    to right top,
    #56ccf2,
    #25bbf5,
    #00a9f6,
    #0096f4,
    #2f80ed
  );
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff59a2', endColorstr='#ffe97b',GradientType=1 ); */
}
.t1 {
  /* background: rgb(255, 89, 162); */
  background: linear-gradient(to right, #ff839d, #f50b9a);
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff59a2', endColorstr='#ffe97b',GradientType=1 ); */
}
.t2 {
  /* background: rgb(138, 232, 255); */
  background: linear-gradient(to right, #fccf11, #f55555);
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ae8ff', endColorstr='#951fff',GradientType=1 ); */
}
.t3 {
  /* background: rgb(138, 255, 220); */
  background: linear-gradient(to right, #fad7a1, #e96d71);
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8affdc', endColorstr='#c3ff1f',GradientType=1 ); */
}
.t4 {
  background: rgb(255, 45, 85);
  font-size: 12;
}
.t5 {
  background: #f6f6f6;
  color: rgb(255, 45, 85);
  font-size: 12;
}

.t6 {
  background: #ffffff;
  color: #000000;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.w {
  color: #ffffff;
}

fw100 {
  font-weight: 100;
}
.fs14 {
  font-size: 14;
}
.fs12 {
  font-size: 12;
}
.fs10 {
  font-size: 10;
}
.fs18 {
  font-size: 18;
}
.fs20 {
  font-size: 20;
}
.fs22 {
  font-size: 22;
}
.ls {
  letter-spacing: 0.1px;
}
.sfl {
  font-family: SF Pro Display;
  font-weight: 100;
}
.pb {
  font-family: player-btns;
}
.mt {
  font-family: Montserrat;
}
/* End */
</style>
