<template>
  <GridLayout rows="*,auto,auto">
    <ScrollView>
      <ListView
        for="(item, index) in items"
        class="list-group"
        @itemTap="onItemTap"
      >
        <v-template>
          <GridLayout
            class="list-group-item"
            rows="*,*"
            columns="*,auto"
          >
            <Label
              textWrap="true"
              class="item-name"
              row="0"
              col="0"
            >
              <FormattedString>
                <Span :text="item.itemName" />
                <Span :text="showExtraName(item)" />
              </FormattedString>
            </Label>

            <Label
              textWrap="true"
              row="1"
              col="0"
            >
              <FormattedString>
                <Span
                  :text="item.price | currency('', baseCurrency)"
                  class="item-price-total"
                />
                <Span text=" | Discount " />
                <Span
                  :text="`${item.discount} %`"
                  class="item-price-total"
                />
              </FormattedString>
            </Label>

            <GridLayout
              row="0"
              col="1"
              columns="*,*,*"
            >
              <Label
                col="0"
                class="btn-increase-decrease"
                text="-"
                @tap="onDecrease(item)"
              />
              <Label
                col="1"
                :text="item.qty"
                class="text-increase-decrease"
              />
              <Label
                col="2"
                text="+"
                class="btn-increase-decrease"
                @tap="onIncrease(item)"
              />
            </GridLayout>

            <Label
              row="1"
              col="1"
              :text="item.amount | currency('', baseCurrency)"
              class="item-price-total"
              horizontalAlignment="right"
            />
          </GridLayout>
        </v-template>
      </ListView>
    </ScrollView>

    <GridLayout
      row="1"
      horizontalAlignment="right"
      class="second-container"
    >
      <Label textWrap="true">
        <FormattedString>
          <Span
            text="Total: "
            class="fs16"
          />
          <Span
            :text="grandTotal | currency('', baseCurrency)"
            class="total fs18"
          />
        </FormattedString>
      </Label>
    </GridLayout>

    <GridLayout
      row="2"
      columns="*,*"
    >
      <Rippler
        rippleColor="#fff"
        col="0"
        class="btn-1"
        @tap="onChangeTable"
      >
        <Label
          textWrap="true"
          class="btn-text"
        >
          <FormattedString>
            <Span text="Change Table" />
          </FormattedString>
        </Label>
      </Rippler>

      <Rippler
        rippleColor="#fff"
        col="1"
        class="btn-2"
        @tap="onCancelAndCopy"
      >
        <Label
          textWrap="true"
          class="btn-text"
        >
          <FormattedString>
            <Span text="Cancel & Copy" />
          </FormattedString>
        </Label>
      </Rippler>

      <!-- <StackLayout
        col="2"
        class="btn-3"
        @tap="onSave"
      >
        <Label
          textWrap="true"
          class="btn-text"
        >
          <FormattedString>
            <Span text="Save" />
          </FormattedString>
        </Label>
      </StackLayout> -->
    </GridLayout>
  </GridLayout>
</template>

<script>
import { APIService } from "./../api/ApiService";
import Order from "../views/order/Order";
import { TNSFancyAlert, TNSFancyAlertButton } from "nativescript-fancyalert";
import Alert from "./../utils/alert";
import lodash from "lodash";
import { ObservableArray } from "tns-core-modules/data/observable-array";
let localStorage = require("nativescript-localstorage");
// import { isAndroid, isIOS, device, screen } from "tns-core-modules/platform";
import * as application from "tns-core-modules/application";
application.android.on(
  application.AndroidApplication.activityBackPressedEvent,
  args => {
    // my back logic
    console.log(args);
    args.cancel = true;
  }
);
// if (platformModule.isAndroid) {
//         let activity =
//           application.android.startActivity ||
//           application.android.foregroundActivity ||
//           frame.topmost().android.currentActivity ||
//           frame.topmost().android.activity;

//         activity.onBackPressed = function() {
//           console.log("back pressed");
//       }

export default {
  name: "details",
  props: {
    invoiceDocs: {
      type: Object,
      default: function() {
        return {};
      }
    },
    orderList: {
      type: Array,
      default: function() {
        return [];
      }
    },
    employeeId: {
      type: String,
      default: ""
    },
    guestId: {
      type: String,
      default: ""
    },
    invoiceId: {
      type: String,
      default: ""
    },
    currentTableId: {
      type: String,
      default: ""
    },
    currentTableName: {
      type: String,
      default: ""
    },
    currentFloorName: {
      type: String,
      default: ""
    }
  },
  computed: {
    // Sub Total
    subTotal() {
      let subTotal = 0;
      // Clone list
      let items = _.cloneDeep(this.items);
      // Foreach
      items.forEach(item => {
        subTotal = _.round((subTotal += item.amount), 2);
      });

      if (this.baseCurrency == "KHR") {
        return _.ceil(subTotal, -2);
      }
      return subTotal;
    },

    // Total
    grandTotal() {
      let total = _.round(this.subTotal - this.invoiceDocs.discountValue, 2);

      if (this.baseCurrency == "KHR") {
        return _.ceil(total, -2);
      } else {
        return total;
      }
    }
  },
  watch: {
    orderList: {
      handler(val) {
        let details = _.cloneDeep(this.orderList);
        _.remove(details, item => {
          return item.child === true;
        });
        /////////////////////
        details.forEach(item => {
          if (item.extraItemDoc && item.extraItemDoc.length) {
            item.extraItemDoc.forEach(extraItem => {
              item.amount += extraItem.amount;
            });
          }
        });
        this.items = details;
      },
      deep: true
    },
    invoiceId(val) {
      this.selectedItems = [];
      this.removeDetail = [];
    },
    selectedItems: {
      handler(val) {
        val.forEach(o => {
          console.log("item = ", o.itemName, " ", o.qty);
        });
      },
      deep: true
    },
    removeDetail: {
      handler(val) {
        val.forEach(o => {
          console.log("remove = ", o.itemName, " ", o.qty);
        });
      },
      deep: true
    }
  },
  mounted() {
    this.getBaseCurrency();
    this.getTables();
    this.getExtraFoods();
  },
  data() {
    return {
      items: [],
      baseCurrency: "",
      tableDoc: [],
      tableNames: [],
      invoiceId: "",
      extraFoods: [],
      extraFoodNames: [],
      //for remove or update when user tap on save
      selectedItems: [],
      removeDetail: []
    };
  },
  methods: {
    showExtraName(item) {
      if (item.extraItemDoc && item.extraItemDoc.length) {
        let name = "";
        item.extraItemDoc.forEach(extraItem => {
          name += ` + ${extraItem.itemName}`;
        });
        return name;
      }
      return "";
    },
    getExtraFoods() {
      let foodUrl = `find_products/{"type":"ExtraFood"}/{}`;
      APIService.get(foodUrl).then(response => {
        response.data.result.data.forEach(ef => {
          this.extraFoods.push(ef);
          this.extraFoodNames.push(ef.name);
        });
      });
    },
    onItemTap(args) {
      let index = args.index;
      let item = args.item;
      action("Actions", "Cancel", ["Add Extra Food", "Delete"]).then(result => {
        if (result == "Delete") {
          if (index > -1) {
            this.items.splice(index, 1);
          }
        }

        if (result == "Add Extra Food") {
          action("Extra Foods", "Cancel", this.extraFoodNames).then(result => {
            if (result && result !== "Cancel") {
              let extraFoodDoc = this.extraFoods.find(ef => ef.name === result);
              this.items = [];
              //make doc of extra food
              let doc = {
                itemId: extraFoodDoc._id,
                itemName: extraFoodDoc.name,
                qty: 1,
                price: extraFoodDoc.price,
                discount: 0,
                amount: 0,
                invoiceId: this.invoiceId,
                checkPrint: false
              };

              //selected item
              let itemList = [];
              itemList.push(item);

              this.addExtraItem(doc, itemList, item);
            }
          });
        }
      });
    },
    addExtraItem(doc, itemList, item) {
      let url = "/insert_sale_detail_extra";
      APIService.post(url, [doc, itemList])
        .then(res => {
          let saleUrl = `find_sales/{"tableId": "${this.currentTableId}","_id":"${this.invoiceId}","status":"Open"}/{}`;
          APIService.get(saleUrl).then(response => {
            response.data.result.forEach(o => {
              this.orderList = o.details;
            });
          });
        })
        .catch(err => {
          console.log(err);
        });
    },
    getTables() {
      let tableUrl = `find_table_and_floor/{}/{}`;
      APIService.get(tableUrl).then(response => {
        response.data.result.filterTables.forEach(table => {
          this.tableDoc.push(table);
          this.tableNames.push(`${table.floorName} : ${table.name}`);
        });
      });
    },
    onChangeTable() {
      action("Change Table", "Cancel", this.tableNames).then(result => {
        let tableName = result.split(" : ");
        if (result && result !== "Cancel") {
          let tableDoc = this.tableDoc.find(
            table => table.name === tableName[1]
          );
          // params pass to order
          var params = {
            tableId: tableDoc._id,
            floorName: tableDoc.floorName,
            tableName: tableDoc.name,
            employeeId: this.employeeId,
            guestId: this.guestId
          };

          // doc for update invoice to change table
          let doc = {
            tableId: tableDoc._id,
            _id: this.invoiceId
          };

          let url = `/update_sale/{"_id": "${this.invoiceId}"}/{}`;
          APIService.put(url, doc)
            .then(res => {
              this.$navigateTo(Order, {
                props: {
                  doc: params,
                  navigateStatus: true
                }
              });
            })
            .catch(err => {
              Alert.Error(err);
            });
        }
      });
    },
    onCancelAndCopy() {
      let doc = {
        date: new Date(),
        type: this.invoiceDocs.type,
        status: this.invoiceDocs.status,
        statusDate: {
          open: new Date()
        },
        discountRate: this.invoiceDocs.discountRate,
        discountValue: this.invoiceDocs.discountValue,
        total: this.invoiceDocs.total,
        totalReceived: this.invoiceDocs.totalReceived,
        tableId: this.invoiceDocs.tableId,
        guestId: this.invoiceDocs.guestId,
        numOfGuest: this.invoiceDocs.numOfGuest,
        employeeId: this.employeeId,
        billed: 0,
        refId: this.invoiceDocs._id
      };

      doc.details = _.forEach(this.orderList, o => {
        o.checkPrint = false;
      });

      var params = {
        tableId: this.currentTableId,
        floorName: this.currentFloorName,
        tableName: this.currentTableName,
        employeeId: this.employeeId,
        guestId: this.guestId
      };

      TNSFancyAlert.showColorDialog(
        "Warning",
        `Invoice ${this.invoiceId} will be cancel and copy to a new invoice, Continue?`,
        "Yes",
        "",
        "#F39C12"
      ).then(res => {
        let url = "cancel_copy_sale/{}/{}";
        APIService.put(url, doc)
          .then(res => {
            this.$navigateTo(Order, {
              props: {
                doc: params,
                navigateStatus: true
              }
            });
          })
          .catch(err => {
            Alert.Error(err);
          });
      });
    },
    onCancel() {
      TNSFancyAlert.showColorDialog(
        "Warning",
        `Invoice ${this.invoiceId} will be ${
          this.orderList.length ? "cancel" : "remove"
        }, Continue?`,
        "Yes",
        "",
        "#F39C12"
      ).then(res => {
        if (this.orderList.length) {
          let doc = {
            _id: this.invoiceId,
            status: "Cancel",
            "statusDate.cancel": new Date()
          };

          // Cancel
          let url = `/update_sale/{"_id": "${this.invoiceId}"}/{}`;
          APIService.put(url, doc)
            .then(res => {
              this.$navigateTo(Order);
            })
            .catch(err => {
              Alert.Error(err);
            });
        }
      });
    },
    onDecrease(item) {
      item.qty -= 1;
      if (item.qty == 0) {
        _.pull(this.items, item);
        this.removeDetail.push(item);
        // Check exist
        let existItem = this.selectedItems.find(
          (value, key) => value._id === item._id
        );
        if (existItem) {
          let index = _.findIndex(this.selectedItems, function(o) {
            return o._id == existItem._id;
          });
          _.pullAt(this.selectedItems, [index]);
        }
      } else if (item.qty > 0) {
        let amount = item.qty * item.price;
        if (item.extraItemDoc) {
          item.extraItemDoc.forEach(extraItem => {
            let discountEachPrice =
              (extraItem.price * extraItem.discount) / 100;
            let priceAfterDiscount = extraItem.price - discountEachPrice;
            // Update amount
            extraItem.amount = _.round(item.qty * priceAfterDiscount, 2);
            amount += extraItem.amount;
          });
        }
        item.amount = amount;
        // Assign
        let existItem = this.selectedItems.find(
          (value, key) => value._id === item._id
        );
        if (existItem) {
          let index = _.findIndex(this.selectedItems, function(o) {
            return o._id == existItem._id;
          });
          this.selectedItems[index] = item;
        } else {
          this.selectedItems.push(item);
        }
      }
      this.onSave();
    },
    onIncrease(item) {
      item.qty += 1;
      let amount = item.qty * item.price;
      if (item.extraItemDoc) {
        item.extraItemDoc.forEach(extraItem => {
          let discountEachPrice = (extraItem.price * extraItem.discount) / 100;
          let priceAfterDiscount = extraItem.price - discountEachPrice;
          // Update amount
          extraItem.amount = _.round(item.qty * priceAfterDiscount, 2);
          amount += extraItem.amount;
        });
      }
      item.amount = amount;
      // Assign
      let existItem = this.selectedItems.find(
        (value, key) => value._id === item._id
      );
      if (existItem) {
        let index = _.findIndex(this.selectedItems, function(o) {
          return o._id == existItem._id;
        });
        this.selectedItems[index] = item;
      } else {
        this.selectedItems.push(item);
      }

      this.onSave();
    },
    onSave() {
      let invoiceData = { _id: this.invoiceDocs._id, total: this.grandTotal };
      if (this.selectedItems.length) {
        this.updateItemDetail(this.selectedItems, invoiceData);
      }

      if (this.removeDetail.length) {
        this.removeItemDetail(this.removeDetail, invoiceData);
      }
      // Alert.Success("Saved !");
    },
    updateItemDetail(details, invoiceData) {
      let updateUrl = `update_sale_detail`;
      APIService.put(updateUrl, [details, invoiceData]);
    },
    removeItemDetail(details, invoiceData) {
      let removeUrl = `remove_sale_detail`;
      APIService.put(removeUrl, [details, invoiceData]);
    },
    getBaseCurrency() {
      let companyUrl = `find_one_company/{}/{}`;
      APIService.get(companyUrl).then(response => {
        this.baseCurrency = response.data.result.accounting.baseCurrency;
      });
    }
  }
};
</script>

<style scoped>
.second-container {
  margin: 10, 15, 10, 15;
  color: #000000;
  font-weight: bold;
}
.item-name {
  font-weight: bold;
}
.item-price-total {
  color: #f57c00;
}

.total {
  color: #f57c00;
}
.text-increase-decrease {
  padding-left: 12;
  padding-right: 12;
}
.btn-increase-decrease {
  color: #000000;
  border-width: 1.5;
  border-color: #f57c00;
  width: 100px;
  height: 100px;
  line-height: 16px;
  padding-top: 14px;
  border-radius: 100%;
  font-weight: bold;
  text-align: center;
}
.fs14 {
  font-size: 14;
}
.fs12 {
  font-size: 12;
}
.fs10 {
  font-size: 10;
}
.fs18 {
  font-size: 18;
}
.fs20 {
  font-size: 20;
}
.fs22 {
  font-size: 22;
}

.btn-1 {
  background-color: #ef6c00;
  padding: 15;
}

.btn-2 {
  background-color: #f57c00;
  padding: 15;
}

.btn-3 {
  background-color: #ff3d00;
  padding: 15;
}

.btn-text {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.btn-custom {
  color: #ffffff;
  width: 70;
  height: 32;
  border-radius: 5;
  font-size: 10px;
}
.closed {
  background-image: linear-gradient(to right top, #fc6767, #ff1744);
}
.reactive {
  background-image: linear-gradient(to right top, #45e994, #23bcbb);
}
</style>
