<template>
  <GridLayout rows="auto,auto,*">
    <StackLayout>
      <SearchBar
        hint="Search"
        :text="searchPhrase"
        @textChange="onTextChanged"
        @loaded="searchBarLoaded"
        @clear="onClear"
        @submit="onSubmit"
      />
    </StackLayout>

    <ScrollView
      row="1"
      orientation="horizontal"
      scrollBarIndicatorVisible="false"
    >
      <StackLayout
        orientation="horizontal"
        class="categories-contatiner"
      >
        <WrapLayout>
          <StackLayout @tap="onClickFoodCategories('all')">
            <GridLayout
              rows="*"
              columns="*"
              row="1"
              height="40"
              class="items list-tiles t1 fs12"
            >
              <Label
                text="All"
                color="black"
                padding="10"
                horizontalAlignment="center"
              ></Label>

            </GridLayout>
          </StackLayout>

          <StackLayout
            v-for="category in foodCategories"
            :key="category._id"
            @tap="onClickFoodCategories(category._id)"
          >
            <GridLayout
              rows="*"
              columns="*"
              row="1"
              height="40"
              class="items list-tiles t1 fs12"
            >
              <Label
                :text="category.name"
                color="black"
                padding="10"
                horizontalAlignment="center"
              ></Label>

            </GridLayout>
          </StackLayout>

        </WrapLayout>
      </StackLayout>
    </ScrollView>

    <StackLayout row="2">
      <!-- <ActivityIndicator
        color="#f57c00"
        busy="true"
        v-if="loading"
        row="2"
      >
      </ActivityIndicator> -->
      <RadListView
        ref="listView"
        for="item in foods"
        layout="grid"
        @itemTap="onItemTap"
      >
        <v-template>

          <StackLayout
            class="grid-item"
            orientation="vertical"
          >
            <!-- <Image
              src="~/assets/images/user-profile.png"
              stretch="aspectFill"
            />
            <GridLayout verticalAlignment="bottom">
              <StackLayout class="background-list background-list-opacity">
                <Label
                  :text="item.name"
                  class="food-name"
                  textWrap="true"
                />
                <Label
                  text="0%"
                  class="food-discount"
                />
              </StackLayout>
            </GridLayout> -->

            <GridLayout
              rows="*"
              columns="*"
              class="items-container"
            >
              <Image
                :src="item.photoUrl!= undefined ? localHostIp+item.photoUrl : '~/assets/images/no-image.jpg'"
                stretch="aspectFill"
              />
              <GridLayout
                horizontalAlignment="right"
                verticalAlignment="top"
              >
                <label
                  :text="item.price | currency('',item.exchangeDoc.base)"
                  class="food-price"
                />
              </GridLayout>
              <GridLayout verticalAlignment="bottom">
                <StackLayout class="background-list background-list-opacity">
                  <Label
                    :text="item.name"
                    class="food-name"
                    textWrap="true"
                  />
                  <Label
                    v-if="item.discounts"
                    :text="item.discounts.discount+'%'"
                    class="food-discount"
                  />
                </StackLayout>
              </GridLayout>
            </GridLayout>

          </StackLayout>

        </v-template>
      </RadListView>
    </StackLayout>
    <!-- <ScrollView
      row="2"
      scrollBarIndicatorVisible="false"
      paddingBottom="100"
      @scroll="event => handleScrollEvent(event)"
    >
      <WrapLayout
        class="items-container"
        ref="scrollContent"
      >
        <StackLayout
          col="0"
          class="grid2"
          v-for="food in loadProducts"
          :key="food"
          @tap="onClickFood(food)"
        >

          <GridLayout
            rows="*"
            columns="*"
            row="1"
            class="items list-tiles"
          >
            <GridLayout
              rows="*"
              columns="*"
            >
              <Image
                src="~/assets/images/no-image.jpg"
                stretch="aspectFill"
              />
              <GridLayout
                horizontalAlignment="right"
                verticalAlignment="top"
              >
                <label
                  :text="food.price"
                  class="food-price"
                />
              </GridLayout>
              <GridLayout verticalAlignment="bottom">
                <StackLayout class="background-list background-list-opacity">
                  <Label
                    :text="food.name"
                    class="food-name"
                    textWrap="true"
                  />
                  <Label
                    text="0%"
                    class="food-discount"
                  />
                </StackLayout>
              </GridLayout>
            </GridLayout>
          </GridLayout>
        </StackLayout>
      </WrapLayout>

    </ScrollView> -->

  </GridLayout>
</template>

<script >
import { APIService } from "../api/ApiService";
import { ObservableArray } from "tns-core-modules/data/observable-array";
export default {
  name: "menu",
  data() {
    return {
      loading: false,
      foods: new ObservableArray([]),
      foodCategories: new ObservableArray([]),
      category: "",
      searchPhrase: "",
      localHostIp: ""
    };
  },
  mounted() {
    this.dataLoad();
  },
  computed: {},
  methods: {
    searchBarLoaded(args) {
      let searchBar = args.object;
      searchBar.android.clearFocus();
    },
    onItemTap({ val }) {
      console.log(val);
      const baseCurrency = this.baseCurrency;
      if (val.catalogType && val.catalogType == "Set") {
        // Make doc
        let doc = val;
        doc.invoiceId = this.activeTab;
        // Call insert
        this.addItemList(doc, baseCurrency);
      } else if (val.type == "ExtraFood" && this.selectedItem.length) {
        // Make doc
        let doc = {
          itemId: val._id,
          itemName: val.name,
          qty: 1,
          price: val.price,
          discount: 0,
          amount: 0,
          invoiceId: this.activeTab,
          checkPrint: false
        };
        // List item to insert (Array) for Extra food
        let itemList = this.selectedItem;
        // Call insert
        this.addExtraItem(doc, itemList, baseCurrency);
      } else {
        // Make doc
        let doc = {
          itemId: val._id,
          qty: 1,
          price: val.price,
          discount: 0,
          amount: 0,
          invoiceId: this.activeTab,
          checkPrint: false
        };
        // Call insert
        this.addItem(doc, baseCurrency);
      }
    },
    // Add Item List
    addItemList(doc, baseCurrency) {},
    // Add item
    addExtraItem(doc, itemList, baseCurrency) {},
    // Add item
    addItem(doc, baseCurrency) {},
    dataLoad(categoryId, searchProduct) {
      //get localhost ip for product images
      this.localHostIp = APIService.defaults.baseURL;

      let foodCategoriesUrl = `find_categories/{}/{}`;
      APIService.get(foodCategoriesUrl).then(response => {
        // this.foodCategories = [
        //   ...response.data.result,
        //   { _id: "all", name: "All" }
        // ];

        this.foodCategories = response.data.result;
      });

      var foodUrl = `find_products/{}/{}`;
      this.loading = true;

      if (categoryId) {
        foodUrl = `find_products/{"categoryId":"${categoryId}"}/{}`;
      }
      if (searchProduct) {
        foodUrl = `find_products/{"categoryId":"${categoryId}","name":"${searchProduct}"}/{}`;
      }
      if (categoryId == "all") {
        foodUrl = `find_products/{"name":"${searchProduct}"}/{}`;
      }

      APIService.get(foodUrl).then(response => {
        this.foods = response.data.result.data;
        this.loading = false;
      });
    },
    onClickFood(food) {
      console.log("click on food " + food);
    },
    onClickFoodCategories(categoryId) {
      console.log("click on Food Cateogory " + categoryId);
      this.category = categoryId;
      if (categoryId && categoryId !== "all") {
        this.dataLoad(categoryId);
      } else {
        this.dataLoad();
      }
    },
    onTextChanged(args) {
      let searchBar = args.object;
      var self = this;
      var result = [];
      if (searchBar.text) {
        this.dataLoad(this.category, searchBar.text);
      }
    },
    onClear(args) {
      let searchBar = args.object;
      searchBar.dismissSoftInput();
      this.dataLoad(this.category, searchBar.text);
    },
    onSubmit(args) {
      let searchBar = args.object;
      searchBar.dismissSoftInput();
    }
  }
};
</script>

<style scoped>
ActionBar {
  background-color: #f57c00;
  color: #ffffff;
}
.grid2 {
  width: 50%;
}
.categories-contatiner {
  margin: 0, 10, 0, 5;
}

.items-container {
  margin: 5;
}

.list-tiles {
  border-radius: 5;
}

.items {
  margin: 5;
  height: 120;
}

.t1 {
  background: #ffffff;
  border-width: 2;
  border-color: #f5f5f5;
}
.background-list {
  padding: 5;
  background-color: rgba(0, 0, 0, 0.4);
}

.food-name {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
}
.food-price {
  color: #f57c00;
  font-weight: 800;
  background-color: #ffffff;
  margin: 5;
  padding: 5;
  border-radius: 5;
  font-size: 16px;
}

.food-discount {
  color: #f57c00;
  font-weight: 900;
}

.fs14 {
  font-size: 14;
}
.fs12 {
  font-size: 12;
}
.fs10 {
  font-size: 10;
}
.fs18 {
  font-size: 18;
}
.fs20 {
  font-size: 20;
}
.fs22 {
  font-size: 22;
}
</style>
