<template>
  <Page>
    <ActionBar flat="true">
      <Label class="fs16" :text="`Tables`"></Label>
      <NavigationButton icon="res://chevronleft" @tap="goBack" />
    </ActionBar>

    <GridLayout rows="35,60, 35, *">
      <Label
        text="Floors"
        class="sf fw800 title-position"
        color="#374064"
      ></Label>

      <ScrollView
        row="1"
        orientation="horizontal"
        scrollBarIndicatorVisible="false"
      >
        <StackLayout orientation="horizontal" class="categories-contatiner">
          <WrapLayout>
            <StackLayout @tap="onClickFloor('all')">
              <GridLayout
                rows="*"
                columns="*"
                row="1"
                height="40"
                class="items list-tiles t1 fs12"
              >
                <Label
                  text="All"
                  color="black"
                  class="fw800 mt"
                  horizontalAlignment="center"
                  padding="10"
                ></Label>
              </GridLayout>
            </StackLayout>

            <StackLayout
              v-for="floor in floors"
              :key="floor._id"
              @tap="onClickFloor(floor._id)"
            >
              <GridLayout
                rows="*"
                columns="*"
                row="1"
                height="40"
                class="items list-tiles t1 fs12"
              >
                <Label
                  :text="floor.name"
                  :class="onActive(floor._id)"
                  class="fw800 mt"
                  horizontalAlignment="center"
                  padding="10"
                ></Label>
              </GridLayout>
            </StackLayout>
          </WrapLayout>
        </StackLayout>
      </ScrollView>

      <Label
        text="Tables"
        class="sf fw800 title-tables"
        color="#374064"
        row="2"
      ></Label>
      <ActivityIndicator color="#f57c00" busy="true" v-if="loading" row="2">
      </ActivityIndicator>

      <RadListView
        ref="listView"
        for="table in tables"
        layout="grid"
        :gridSpanCount="gridColumns"
        @layoutChanged="updateLayout"
        row="3"
      >
        <v-template>
          <StackLayout class="grid-item" orientation="vertical">
            <Rippler rippleColor="#ffffff" @tap="onClickTable(table)">
              <GridLayout
                rows="*, *,*"
                columns="*"
                row="1"
                :class="[table.total > 0 ? 't2' : 't3']"
                class="items list-tiles"
              >
                <Label
                  row="0"
                  col="0"
                  v-if="activeFloor == 'all' || activeFloor == ''"
                  :text="table.floorName"
                  color="white"
                  class="fs18 fw800 mt"
                  paddingTop="15"
                  horizontalAlignment="center"
                ></Label>
                <Label
                  row="1"
                  col="0"
                  :text="table.name"
                  color="white"
                  class="fs18 fw800 mt"
                  paddingTop="5"
                  horizontalAlignment="center"
                >
                </Label>
                <Image col="0" row="2" src="~/assets/icons-white/chair.png" />
              </GridLayout>
            </Rippler>
          </StackLayout>
        </v-template>
      </RadListView>
      <!-- </StackLayout> -->

      <!-- <ScrollView
        row="3"
        scrollBarIndicatorVisible="false"
        paddingBottom="100"
        @scroll="event => handleScrollEvent(event)"
      >
        <WrapLayout
          class="items-container"
          ref="scrollContent"
        >
          <StackLayout
            col="0"
            class="grid3"
            v-for="table in tables"
            :key="table._id"
            @tap="onClickTable(table)"
          >
            <GridLayout
              rows="*, *,*"
              columns="*"
              row="1"
              :class="[ table.total > 0 ? 't2' : 't3' ]"
              class="items list-tiles"
            >
              <Label
                row="0"
                col="0"
                v-if="activeFloor == 'all' || activeFloor == ''"
                :text="table.floorName"
                color="white"
                class="fs18 fw800 mt"
                paddingTop="15"
                horizontalAlignment="center"
              ></Label>
              <Label
                row="1"
                col="0"
                :text="table.name"
                color="white"
                class="fs18 fw800 mt"
                paddingTop="5"
                horizontalAlignment="center"
              >
              </Label>
              <Image
                col="0"
                row="2"
                src="~/assets/icons-white/chair.png"
              />
            </GridLayout>
          </StackLayout>
        </WrapLayout>
      </ScrollView> -->
    </GridLayout>
  </Page>
</template>

<script>
let localStorage = require("nativescript-localstorage");
import { APIService } from "../../api/ApiService";
import Order from "../order/Order";
import App from "../../views/App";
import * as utils from "utils/utils";
const DeviceType = require("tns-core-modules/ui/enums").DeviceType;
const isTablet =
  require("tns-core-modules/platform").device.deviceType == DeviceType.Tablet;
export default {
  name: "table",
  props: ["navigateStatus"],
  data() {
    return {
      gridColumns: 3,
      isTablet: isTablet,
      loading: false,
      tables: [],
      floors: [],
      activeFloor: "",
      generalGuestId: "",
      size: 13, // default list
      pageNumber: 0 // default to page 0
    };
  },
  mounted() {
    this.dataLoad();
  },
  computed: {
    loadData() {
      const start = this.pageNumber * this.size,
        end = start + this.size;
      return this.tables.slice(start, end);
    }
  },
  methods: {
    updateLayout() {
      const width = utils.layout.toDeviceIndependentPixels(
        this.$refs.listView.nativeView.getMeasuredWidth()
      );

      let value = 110;
      if (isTablet) {
        value = 200;
      }

      this.gridColumns = parseInt(width / value);
    },
    goBack() {
      if (this.navigateStatus == true) {
        this.$navigateTo(App);
      } else {
        this.$navigateBack();
      }
    },
    dataLoad(selector) {
      let floorUrl = `find_floors/{}/{}`;
      APIService.get(floorUrl).then(response => {
        // this.loading = false;
        this.floors = response.data.result;
      });

      var tableUrl = `find_table_and_floor/{}/{}`;
      if (selector != undefined) {
        this.loading = true;
        tableUrl = `find_table_and_floor/{"_id":"${selector}"}/{}`;
      }

      if (selector == "all") {
        this.loading = true;
        tableUrl = `find_table_and_floor/{}/{}`;
      }

      APIService.get(tableUrl).then(response => {
        this.tables = response.data.result.filterTables;
        this.loading = false;
      });

      //get guestId
      let guestUrl = `find_one_guest/{"name":"General"}/{}`;
      APIService.get(guestUrl).then(response => {
        this.generalGuestId = response.data.result._id;
      });
    },
    onClickTable(table) {
      var doc = {
        tableId: table._id,
        floorName: table.floorName,
        tableName: table.name,
        employeeId: JSON.parse(localStorage.getItem("userData"))._id,
        guestId: this.generalGuestId
      };

      this.$navigateTo(Order, {
        props: {
          doc: doc
        }
      });
    },
    onClickFloor(floorId) {
      this.activeFloor = floorId;
      this.dataLoad(floorId);
    },
    handleScrollEvent(event) {
      const scrollContentHeight = this.$refs.scrollContent.nativeView.getActualSize()
        .height;
      const distanceFromBottom = scrollContentHeight - event.scrollY;

      if (distanceFromBottom >= 552) {
        // load more items
        this.size += 15;
      }
      // if (distanceFromBottom <= 552) {
      //   // load more items
      //   this.size -= 15;
      // }
    },
    onActive(value) {
      //check active invoice text color
      if (value == this.activeFloor) {
        return "active";
      }
    }
  }
};
</script>

<style scoped>
ActionBar {
  background-color: #f57c00;
  color: #ffffff;
}

.profile-tiles {
  height: 120;
  margin: 10;
  border-radius: 5;
}

.items-container {
  margin: 5;
}
.items-container-tables {
  margin: 0, 5, 5, 5;
}
.items {
  margin: 5;
  height: 120;
}
.grid2 {
  width: 50%;
}
.grid3 {
  width: 33.3%;
}

.list-tiles {
  border-radius: 5;
}

.pl10 {
  padding-top: 10;
  padding-left: 15;
}

.fw800 {
  font-weight: 800;
}
.sf {
  font-family: SF Pro Display;
  font-weight: 800;
}
.t0 {
  /* background: rgb(255, 89, 162); */
  background: linear-gradient(
    to right top,
    #56ccf2,
    #25bbf5,
    #00a9f6,
    #0096f4,
    #2f80ed
  );
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff59a2', endColorstr='#ffe97b',GradientType=1 ); */
}
.t0:pressed {
  opacity: 0.2;
}

.t1 {
  background: #ffffff;
  border-width: 2;
  border-color: #f5f5f5;
}

.t2 {
  background: #7cb342;
}

.t3 {
  background: #f57c00;
}

.w {
  color: #ffffff;
}

fw100 {
  font-weight: 100;
}
.fs14 {
  font-size: 14;
}
.fs12 {
  font-size: 12;
}
.fs10 {
  font-size: 10;
}
.fs18 {
  font-size: 18;
}
.fs16 {
  font-size: 16;
}
.fs20 {
  font-size: 20;
}
.fs22 {
  font-size: 22;
}
.ls {
  letter-spacing: 0.1px;
}
.sfl {
  font-family: SF Pro Display;
  font-weight: 100;
}
.pb {
  font-family: player-btns;
}
.mt {
  font-family: Montserrat;
}

.categories-contatiner {
  margin: 0, 10, 0, 5;
}
.title-position {
  margin: 10;
}

.title-tables {
  margin: 0, 10, 0, 10;
}
.active {
  color: #f57c00;
}
</style>
