<template>
  <Page>
    <ActionBar flat=true>
      <Label
        class="fs16"
        :text="`${doc.floorName} : ${doc.tableName}`"
      ></Label>
      <NavigationButton
        icon="res://chevronleft"
        @tap="goBack"
      />
      <!-- <ActionItem
        @tap="onTapAdd"
        icon="res://pluscircle"
        android.position="actionBar"
      /> -->

    </ActionBar>
    //Tablet Interface
    <GridLayout
      v-if="isTablet"
      columns="300, 2*"
    >
      <GridLayout
        col="0"
        class="left-column"
      >

        <DetailForIpad
          :invoice-docs="fullInvoiceDocsPassToDetails"
          :order-list="orderList"
          :employee-id="doc.employeeId"
          :guest-id="doc.guestId"
          :invoice-id="activeInvoice"
          :current-table-id="doc.tableId"
          :current-table-name="doc.tableName"
          :current-floor-name="doc.floorName"
          :baseCurrency="baseCurrency"
        ></DetailForIpad>
      </GridLayout>

      <StackLayout col="1">
        <ScrollView
          orientation="horizontal"
          scrollBarIndicatorVisible="false"
        >

          <StackLayout
            orientation="horizontal"
            class="categories-contatiner"
          >

            <WrapLayout>
              <StackLayout
                v-for="invoice in invoiceDocs"
                :key="invoice._id"
                @tap="onClickInvoice(invoice._id)"
                @doubleTap="onClickRemoveInvoice(invoice._id)"
              >
                <GridLayout
                  rows="*"
                  columns="*"
                  row="1"
                  height="40"
                  class="items list-tiles t1"
                >
                  <Label
                    textWrap="true"
                    :class="onActive(invoice._id,fastSale)"
                    :text="invoice._id"
                    class="invocie-text fs12 fw800 mt"
                    horizontalAlignment="center"
                    padding="10"
                  >
                  </Label>

                </GridLayout>
              </StackLayout>

              //add NewOrder Button
              <StackLayout @tap="addNewInvoice()">
                <GridLayout
                  rows="*"
                  columns="*"
                  row="1"
                  height="40"
                  class="items list-tiles t1 fs12"
                >
                  <Label
                    text="+"
                    color="black"
                    class="fw800 mt"
                    horizontalAlignment="center"
                    padding="10"
                  ></Label>

                </GridLayout>
              </StackLayout>

            </WrapLayout>
          </StackLayout>
        </ScrollView>

        <GridLayout rows="auto,auto,*">
          <StackLayout>
            <SearchBar
              hint="Search"
              :text="searchPhrase"
              @textChange="onTextChanged"
              @loaded="searchBarLoaded"
              @clear="onClear"
              @submit="onSubmit"
            />
          </StackLayout>

          <ScrollView
            row="1"
            orientation="horizontal"
            scrollBarIndicatorVisible="false"
          >
            <StackLayout
              orientation="horizontal"
              class="categories-contatiner"
            >
              <WrapLayout>
                <StackLayout @tap="onClickFoodCategories('all')">
                  <GridLayout
                    rows="*"
                    columns="*"
                    row="1"
                    height="40"
                    class="items list-tiles t1 fs12"
                  >
                    <Label
                      text="All"
                      padding="10"
                      horizontalAlignment="center"
                    ></Label>

                  </GridLayout>
                </StackLayout>

                <StackLayout
                  v-for="category in foodCategories"
                  :key="category._id"
                  @tap="onClickFoodCategories(category._id)"
                >
                  <GridLayout
                    rows="*"
                    columns="*"
                    row="1"
                    height="40"
                    class="items list-tiles t1 fs12"
                  >
                    <Label
                      :text="category.name"
                      padding="10"
                      :class="onActive(category._id)"
                      horizontalAlignment="center"
                    ></Label>

                  </GridLayout>
                </StackLayout>

              </WrapLayout>
            </StackLayout>
          </ScrollView>

          <StackLayout row="2">
            <ActivityIndicator
              color="#f57c00"
              busy="true"
              v-if="loading"
            >
            </ActivityIndicator>
            <RadListView
              ref="listView"
              for="item in foods"
              layout="grid"
              :gridSpanCount="gridColumns"
              @layoutChanged="updateLayout"
              loadOnDemand="Auto"
              @loadMoreDataRequested="handleLoadMoreDataEvent"
            >
              <v-template>

                <!-- <MDRipple
                  rippleColor="#fff"
                  class="grid-item"
                  orientation="vertical"
                  @tap="onItemTap(item)"
                > -->
                  <StackLayout
                  class="grid-item"
                  @tap="onItemTap(item)"
                  orientation="vertical"
                >
                  <GridLayout
                    rows="*"
                    columns="*"
                    class="items-container"
                  >
                    <Image
                      :src="item.photoUrl!= undefined ? localHostIp+item.photoUrl : '~/assets/images/no-image.jpg'"
                      stretch="aspectFill"
                    />
                    <GridLayout
                      horizontalAlignment="right"
                      verticalAlignment="top"
                    >
                      <label
                        :text="getPrice(item)"
                        class="food-price"
                      />
                    </GridLayout>
                    <GridLayout verticalAlignment="bottom">
                      <StackLayout class="background-list background-list-opacity">
                        <Label
                          :text="item.name"
                          class="food-name"
                          textWrap="true"
                        />
                        <Label
                          v-if="item.discounts"
                          :text="item.discounts.discount+'%'"
                          class="food-discount"
                        />
                      </StackLayout>
                    </GridLayout>
                  </GridLayout>
                <!-- </MDRipple> -->
                </StackLayout>
              </v-template>
            </RadListView>
          </StackLayout>
        </GridLayout>

      </StackLayout>
    </GridLayout>

    <GridLayout
      rows="auto,*"
      v-else
    >

      <ScrollView
        orientation="horizontal"
        scrollBarIndicatorVisible="false"
      >

        <StackLayout
          orientation="horizontal"
          class="categories-contatiner"
        >

          <WrapLayout>
            <StackLayout
              v-for="invoice in invoiceDocs"
              :key="invoice._id"
              @tap="onClickInvoice(invoice._id)"
              @doubleTap="onClickRemoveInvoice(invoice._id)"
            >
              <GridLayout
                rows="*"
                columns="*"
                row="1"
                height="40"
                class="items list-tiles t1"
              >
                <Label
                  textWrap="true"
                  :class="onActive(invoice._id,fastSale)"
                  :text="invoice._id"
                  class="invocie-text fs12 fw800 mt"
                  horizontalAlignment="center"
                  padding="10"
                >
                </Label>

              </GridLayout>
            </StackLayout>

            //add NewOrder Button
            <StackLayout @tap="addNewInvoice()">
              <GridLayout
                rows="*"
                columns="*"
                row="1"
                height="40"
                class="items list-tiles t1 fs12"
              >
                <Label
                  text="+"
                  color="black"
                  class="fw800 mt"
                  horizontalAlignment="center"
                  padding="10"
                ></Label>

              </GridLayout>
            </StackLayout>

          </WrapLayout>
        </StackLayout>
      </ScrollView>

      <StackLayout row="1">
        <TabView
          :="selectedIndex"
          @selectedIndexChange="indexChange"
        >

          <TabViewItem title="Menu">
            <!-- <Menu></Menu> -->
            <GridLayout rows="auto,auto,*">
              <StackLayout>
                <SearchBar
                  hint="Search"
                  :text="searchPhrase"
                  @textChange="onTextChanged"
                  @loaded="searchBarLoaded"
                  @clear="onClear"
                  @submit="onSubmit"
                />
              </StackLayout>

              <ScrollView
                row="1"
                orientation="horizontal"
                scrollBarIndicatorVisible="false"
              >
                <StackLayout
                  orientation="horizontal"
                  class="categories-contatiner"
                >
                  <WrapLayout>
                    <StackLayout @tap="onClickFoodCategories('all')">
                      <GridLayout
                        rows="*"
                        columns="*"
                        row="1"
                        height="40"
                        class="items list-tiles t1 fs12"
                      >
                        <Label
                          text="All"
                          padding="10"
                          horizontalAlignment="center"
                        ></Label>

                      </GridLayout>
                    </StackLayout>

                    <StackLayout
                      v-for="category in foodCategories"
                      :key="category._id"
                      @tap="onClickFoodCategories(category._id)"
                    >
                      <GridLayout
                        rows="*"
                        columns="*"
                        row="1"
                        height="40"
                        class="items list-tiles t1 fs12"
                      >
                        <Label
                          :text="category.name"
                          padding="10"
                          :class="onActive(category._id)"
                          horizontalAlignment="center"
                        ></Label>

                      </GridLayout>
                    </StackLayout>

                  </WrapLayout>
                </StackLayout>
              </ScrollView>

              <StackLayout row="2">
                <ActivityIndicator
                  color="#f57c00"
                  busy="true"
                  v-if="loading"
                >
                </ActivityIndicator>
                <RadListView
                  ref="listView"
                  for="item in foods"
                  layout="grid"
                  :gridSpanCount="gridColumns"
                  @layoutChanged="updateLayout"
                  loadOnDemand="Auto"
                  @loadMoreDataRequested="handleLoadMoreDataEvent"
                >
                  <v-template>
                    <StackLayout
                      class="grid-item"
                      orientation="vertical"
                      @tap="onItemTap(item)"
                    >
                    
                      <GridLayout
                        rows="*"
                        columns="*"
                        class="items-container"
                      >
                        <Image
                          :src="item.photoUrl!= undefined ? localHostIp+item.photoUrl : '~/assets/images/no-image.jpg'"
                          stretch="aspectFill"
                        />
                        <GridLayout
                          horizontalAlignment="right"
                          verticalAlignment="top"
                        >
                          <label
                            :text="getPrice(item)"
                            class="food-price"
                          />
                        </GridLayout>
                        <GridLayout verticalAlignment="bottom">
                          <StackLayout class="background-list background-list-opacity">
                            <Label
                              :text="item.name"
                              class="food-name"
                              textWrap="true"
                            />
                            <Label
                              v-if="item.discounts"
                              :text="item.discounts.discount+'%'"
                              class="food-discount"
                            />
                          </StackLayout>
                        </GridLayout>
                      </GridLayout>
                    </StackLayout>

                  </v-template>
                </RadListView>
              </StackLayout>
            </GridLayout>
          </TabViewItem>

          <TabViewItem title="Detail">
            <Details
              :invoice-docs="fullInvoiceDocsPassToDetails"
              :order-list="orderList"
              :employee-id="doc.employeeId"
              :guest-id="doc.guestId"
              :invoice-id="activeInvoice"
              :current-table-id="doc.tableId"
              :current-table-name="doc.tableName"
              :current-floor-name="doc.floorName"
            ></Details>
          </TabViewItem>

        </TabView>
      </StackLayout>
    </GridLayout>
  </Page>
</template>

<script >
import Menu from "../../components/Menu";
import Details from "../../components/Details";
import DetailForIpad from "../../components/DetailForIpad";
import Table from "../../views/table/Table";
import { APIService } from "../../api/ApiService";
import { TNSFancyAlert, TNSFancyAlertButton } from "nativescript-fancyalert";
import Alert from "./../../utils/alert";
import { ObservableArray } from "tns-core-modules/data/observable-array";
import lodash from "lodash";
let localStorage = require("nativescript-localstorage");
import * as utils from "utils/utils";
const DeviceType = require("tns-core-modules/ui/enums").DeviceType;
const isTablet =
  require("tns-core-modules/platform").device.deviceType == DeviceType.Tablet;
export default {
  name: "order",
  components: { Menu, Details, DetailForIpad },
  props: ["doc", "fastSale", "navigateStatus"],
  data() {
    return {
      gridColumns: 3,
      isTablet: isTablet,
      invoiceDocs: new ObservableArray([]),
      orderList: new ObservableArray([]),
      doc: {},
      activeInvoice: "",
      selectedIndex: 0,
      fullInvoiceDocsPassToDetails: {},
      // Currency
      baseCurrency: {},
      //properties menu list
      loading: false,
      foods: new ObservableArray([]),
      tempFoodList: new ObservableArray(),
      foodCategories: new ObservableArray([]),
      selectedItem: [],
      category: "",
      searchPhrase: "",
      localHostIp: "",
      size: 8
    };
  },
  watch: {
    doc: {
      handler: function(val) {
        this.doc = val;
      },
      deep: true
    },
    activeInvoice: {
      handler: function(val) {
        this.activeInvoice = val;
      }
    }
    // tempFoodList: {
    //   handler: function(val) {
    //     if (val) {
    //       this.addMoreItems(3);
    //     }
    //   }
    // }
  },
  mounted() {
    if (this.doc.fastSale == true) {
      this.addNewInvoice();
    } else {
      this.getOrders();
    }

    // Get currency
    this.getBaseCurrency();
    // load food & food categories list
    this.dataLoad();
    this.listView = this.$refs.listView.nativeView;
  },
  // created() {
  //   this.addMoreItems(5);
  // },
  methods: {
    updateLayout() {
      const width = utils.layout.toDeviceIndependentPixels(
        this.$refs.listView.nativeView.getMeasuredWidth()
      );

      let value = 180;
      if (isTablet) {
        value = 240;
      }
      this.gridColumns = parseInt(width / value);
    },
    searchBarLoaded(args) {
      let searchBar = args.object;
      searchBar.android.clearFocus();
    },
    goBack() {
      if (this.navigateStatus == true) {
        this.$navigateTo(Table, {
          props: {
            navigateStatus: true
          }
        });
      } else {
        this.$navigateBack();
      }

      if (this.doc.fastSale == true) {
        this.removeEmptyInvoice();
      }
    },
    removeEmptyInvoice() {
      let url = `/remove_empty_sale/{"status":"Open","totalReceived":${0}}`;
      APIService.delete(url)
        .then(res => {
          if (res) {
            return false;
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    addMoreItems(chunkSize) {
      let self = this;
      this.foods.push(this.tempFoodList.splice(0, chunkSize));

      // this.dataItems.splice(0, chunkSize);
    },
    handleLoadMoreDataEvent() {
      let self = this;
      this.addMoreItems(10);

      // this.$refs.listView.notifyLoadOnDemandFinished();
      setTimeout(
        function() {
          this.$refs.listView.nativeView.notifyLoadOnDemandFinished();
        }.bind(this),
        1000
      );
    },
    getOrders(newInvoiceId) {
      let saleUrl = `find_sales/{"tableId":"${this.doc.tableId}","status":"Open"}/{}`;
      APIService.get(saleUrl).then(response => {
        if (response.data.result) {
          console.log(response.data.result)
          this.invoiceDocs = response.data.result;
        }

        if (newInvoiceId) {
          this.onClickInvoice(newInvoiceId);
        } else if (this.invoiceDocs && this.invoiceDocs.length == 0) {
          // create new invocie auto
          this.addNewInvoice();
        } else {
          // select the first invoice for detail
          this.onClickInvoice(response.data.result["0"]._id);
        }
      });
    },
    getPrice(item) {
      return item.price + " " + this.baseCurrency.symbol;
    },
    getBaseCurrency() {
      let companyUrl = `find_one_company/{}/{}`;
      APIService.get(companyUrl).then(response => {
        let currency = response.data.result.accounting.baseCurrency;
        // make doc
        let baseCurrency = {};
        // base current
        baseCurrency.base = currency;
        // currency symbol
        if (currency == "KHR") {
          baseCurrency.symbol = "៛";
        } else if (currency == "USD") {
          baseCurrency.symbol = "$";
        } else if (currency == "THB") {
          baseCurrency.symbol = "฿";
        }
        // assign
        this.baseCurrency = baseCurrency;
      });
    },
    indexChange: function(args) {
      let newIndex = args.value;
    },
    onClickInvoice(value) {
      let saleUrl = `find_sales/{"tableId":"${this.doc.tableId}","_id":"${value}","status":"Open"}/{}`;
      APIService.get(saleUrl).then(response => {
        response.data.result.forEach(o => {
          //find invoice detail by id when user click on invoice Id (note : pass to detail)
          this.orderList = o.details;
          //invoice docs for Cancel & Copy (note : pass to detail)
          this.fullInvoiceDocsPassToDetails = o;
        });
      });

      // set active invoice
      this.activeInvoice = value;
    },
    onActive(value) {
      //check active invoice text color
      if (value == this.activeInvoice || value == this.category) {
        return "invoice-text-active";
      }
    },
    addNewInvoice() {
      const doc = {
        date: new Date(),
        type: "Invoice",
        status: "Open",
        statusDate: {
          open: new Date()
        },
        discountRate: 0,
        discountValue: 0,
        total: 0,
        totalReceived: 0,
        tableId: this.doc.tableId,
        employeeId: this.doc.employeeId,
        guestId: this.doc.guestId,
        numOfGuest: 0,
        billed: 0,
        details: []
      };
      let url = "/insert_sale";
      APIService.post(url, doc)
        .then(res => {
          let newInvoiceId = res.data.result;
          this.activeInvoice = res.data.result;
          this.getOrders(newInvoiceId);
        })
        .catch(err => {
          console.log(err);
        });
    },
    onClickRemoveInvoice(value) {
      TNSFancyAlert.showColorDialog(
        "Warning",
        `Invoice ${value} will be ${
          this.orderList.length ? "cancel" : "remove"
        }, Continue?`,
        "Yes",
        "",
        "#F39C12"
      ).then(res => {
        if (this.orderList.length) {
          let doc = {
            _id: value,
            status: "Cancel",
            "statusDate.cancel": new Date()
          };

          // Cancel
          let url = `/update_sale/{"_id":"${value}"}/{}`;

          APIService.put(url, doc)
            .then(res => {
              this.getOrders();
            })
            .catch(err => {
              Alert.Error(err);
            });
        } else {
          let url = `/remove_sale/{"_id":"${value}"}`;
          APIService.delete(url)
            .then(res => {
              this.getOrders();
            })
            .catch(err => {
              Alert.Error(err);
            });
        }
      });
    },
    removeEmptyInvoice() {
      let url = `/remove_empty_sale/{"status":"Open","totalReceived":${0}}`;
      APIService.delete(url);
    },
    onItemTap(item) {
      const baseCurrency = this.baseCurrency;

      if (item.catalogType && item.catalogType == "Set") {
        // Make doc
        let doc = item;
        doc.invoiceId = this.activeInvoice;
        doc.status = "New";
        // Call insert
        this.addItemList(doc, baseCurrency);
      } else if (item.type == "ExtraFood" && this.selectedItem.length) {
        // Make doc
        let doc = {
          itemId: item._id,
          itemName: item.name,
          qty: 1,
          price: item.price,
          discount: 0,
          amount: 0,
          invoiceId: this.activeInvoice,
          checkPrint: false,
          status: "New"
        };
        // List item to insert (Array) for Extra food
        let itemList = this.selectedItem;
        // Call insert
        this.addExtraItem(doc, itemList, baseCurrency);
      } else {
        // Make doc
        let doc = {
          itemId: item._id,
          qty: 1,
          price: item.price,
          discount: 0,
          amount: 0,
          invoiceId: this.activeInvoice,
          checkPrint: false,
          status: "New"
        };
        // Call insert
        this.addItem(doc, baseCurrency);
      }
    },
    // Add Item List
    addItemList(doc, baseCurrency) {
      let url = "/insert_sale_detail_list";
      APIService.post(url, doc)
        .then(res => {
          this.getOrders(res.data.result.invoiceId);
        })
        .catch(err => {
          console.log(err);
        });
    },
    // Add item
    addExtraItem(doc, itemList, baseCurrency) {},
    // Add item
    addItem(doc, baseCurrency) {
      let url = "/insert_sale_detail";
      APIService.post(url, doc)
        .then(res => {
          this.getOrders(res.data.result.invoiceId);
        })
        .catch(err => {
          console.log(err);
        });
    },
    dataLoad(categoryId, searchProduct) {
      //get localhost ip for product images
      this.localHostIp = APIService.defaults.baseURL;

      let foodCategoriesUrl = `find_categories/{}/{}`;
      APIService.get(foodCategoriesUrl).then(response => {
        this.foodCategories = response.data.result;
      });

      var foodUrl = `find_products/{}/{}`;
      this.loading = true;

      if (categoryId) {
        foodUrl = `find_products/{"categoryId":"${categoryId}"}/{}`;
      }
      if (searchProduct) {
        foodUrl = `find_products/{"categoryId":"${categoryId}","name":"${searchProduct}"}/{}`;
      }
      if (categoryId == "all") {
        foodUrl = `find_products/{"name":"${searchProduct}"}/{}`;
      }

      APIService.get(foodUrl).then(response => {
        this.foods = response.data.result.data;
        // this.tempFoodList = response.data.result.data;
        this.loading = false;
      });
    },
    onClickFood(food) {
      console.log("click on food " + food);
    },
    onClickFoodCategories(categoryId) {
      this.category = categoryId;
      this.isCategoryActive = true;
      if (categoryId && categoryId !== "all") {
        this.dataLoad(categoryId);
      } else {
        this.dataLoad();
      }
    },
    onTextChanged(args) {
      let searchBar = args.object;
      var self = this;
      var result = [];
      if (searchBar.text) {
        this.dataLoad(this.category, searchBar.text);
      }
    },
    onClear(args) {
      let searchBar = args.object;
      searchBar.dismissSoftInput();
      this.dataLoad(this.category, searchBar.text);
    },
    onSubmit(args) {
      let searchBar = args.object;
      searchBar.dismissSoftInput();
    }
  }
};
</script>

<style scoped>
ActionBar {
  background-color: #f57c00;
  color: #ffffff;
}

.t1 {
  background: #ffffff;
  border-width: 2;
  border-color: #f5f5f5;
}
.items {
  margin: 5;
  height: 120;
}

.invoice-text {
  color: black;
}

.invoice-text-active {
  color: #f57c00;
}

.remove-invoice {
  font-weight: 800;
  color: red;
}

.grid2 {
  width: 50%;
}
.categories-contatiner {
  margin: 0, 10, 0, 5;
}

.items-container {
  margin: 5;
}

.list-tiles {
  border-radius: 5;
}

.items {
  margin: 5;
  height: 120;
}

.background-list {
  padding: 5;
  background-color: rgba(0, 0, 0, 0.4);
}

.food-name {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
}
.food-price {
  color: #f57c00;
  font-weight: 800;
  background-color: #ffffff;
  margin: 5;
  padding: 5;
  border-radius: 5;
  font-size: 16px;
}

.food-discount {
  color: #f57c00;
  font-weight: 900;
}

.fs14 {
  font-size: 14;
}
.fs12 {
  font-size: 12;
}
.fs10 {
  font-size: 10;
}
.fs16 {
  font-size: 16;
}
.fs18 {
  font-size: 18;
}
.fs20 {
  font-size: 20;
}
.fs22 {
  font-size: 22;
}
.left-column {
  border-color: #d3d3d3;
  border-right-width: 1;
}
</style>
