<template>
  <Page>
    <ActionBar flat="true">
      <Label
        class="fs16"
        text="Restaurant App"
      ></Label>
      <ActionItem
        @tap="onTapProfile"
        icon="res://more"
        android.position="actionBar"
      />
    </ActionBar>

    <GridLayout
      rows="auto, *, auto"
      columns="*"
      class="fixed"
    >
      <!-- main components all on top of each other, since only 1 will be visible at any given time -->
      <component
        :is="currentComponent"
        row="1"
        col="0"
      />
    </GridLayout>

  </Page>
</template>

<script >
import Dashboard from "../views/dashboard/Dashboard";
import Profile from "../views/profile/Profile";
import Alert from "../utils/alert";
const connectivity = require("tns-core-modules/connectivity");
export default {
  components: {
    Dashboard
  },
  data() {
    return {
      currentComponent: "Dashboard"
      // componentsArray: ["Dashboard", "Customer", "MainReport"]
    };
  },
  beforeMount() {
    this.monitorNetworkStart();
  },
  methods: {
    monitorNetworkStart() {
      // this.networkStatus = "Monitoring network connection changes.";
      connectivity.startMonitoring(newConnectionType => {
        switch (newConnectionType) {
          case connectivity.connectionType.none:
            this.networkStatus = "Oops , No network connection available !";
            Alert.Warning(this.networkStatus);
            break;
          // case connectivity.connectionType.wifi:
          //   this.networkStatus = "You are now on wifi!";
          //   alert(this.networkStatus);
          //   break;
          // case connectivity.connectionType.mobile:
          //   this.networkStatus = "You are now on a mobile data network!";
          //   alert(this.networkStatus);
          //   break;
        }
      });
    },
    onTapProfile: function(event) {
      this.$navigateTo(Profile);
    }
  }
};
</script>

<style scoped>
ActionBar {
  background-color: #f57c00;
  color: #ffffff;
}

.message {
  vertical-align: center;
  text-align: center;
  font-size: 20;
  color: #333333;
}

.fs14 {
  font-size: 14;
}
.fs12 {
  font-size: 12;
}
.fs10 {
  font-size: 10;
}
.fs18 {
  font-size: 18;
}
.fs16 {
  font-size: 16;
}
.fs20 {
  font-size: 20;
}
.fs22 {
  font-size: 22;
}
</style>
