<template>
  <Page
    actionBarHidden=true
    androidStatusBarBackground="#f57c00"
    backgroundSpanUnderStatusBar="true"
    @loaded="onLoaded"
  >
    <GridLayout rows="*, auto, auto">
      <ScrollView
        row="0"
        scrollBarIndicatorVisible="false"
        paddingBottom="100"
        @tap="dismissSoftKeybaord"
      >
        <GridLayout
          rows="*,*,*"
          class="page"
        >

          <StackLayout
            row="0"
            class="form"
          >
            <Image
              class="logo"
              src="res://logo_login"
            />
          </StackLayout>

          <StackLayout
            row="1"
            class="form"
          >
            <ActivityIndicator
              color="#f57c00"
              busy="true"
              v-if="loading"
            >
            </ActivityIndicator>

            <StackLayout class="input-field">
              <!-- <label
                text="USERNAME"
                class="label-input"
              /> -->
              <TextField
                hint="Username"
                class="input"
                autocapitalizationType="none"
                v-model="user.username"
                returnKeyType="next"
                fontSize="18"
              />
              <StackLayout class="hr-light underline-input-color" />
            </StackLayout>
            <StackLayout class="input-field">
              <!-- <label
                text="PASSWORD"
                class="label-input"
              /> -->
              <TextField
                ref="password"
                hint="Password"
                class="input "
                secure="true"
                v-model="user.password"
                returnKeyType="done"
                fontSize="18"
              />
              <StackLayout class="hr-light underline-input-color" />
            </StackLayout>
            <Button
              text="Log In"
              @tap="submit"
              class="btn btn-primary m-t-20"
            />

          </StackLayout>

          <StackLayout row="2">
            <Label
              class="footer-label sign-up-label"
              @tap="linkIp"
            >
              <FormattedString>
                <Span>Copyright &copy; 2019 Rabbit Technology . All Right Reserved.</Span>
              </FormattedString>
            </Label>
          </StackLayout>

        </GridLayout>
      </ScrollView>
    </GridLayout>
  </Page>
</template>

<script>
import App from "./App";
import { APIService } from "../api/ApiService";
import Alert from "../utils/alert";
let localStorage = require("nativescript-localstorage");
import * as utils from "utils/utils";
import { isIOS, isAndroid } from "platform";
import * as frame from "ui/frame";
const dialogs = require("tns-core-modules/ui/dialogs");
import * as application from "tns-core-modules/application";
import * as platform from "tns-core-modules/platform";
export default {
  data() {
    return {
      loading: false,
      user: {
        username: "",
        password: ""
      }
    };
  },
  methods: {
    dismissSoftKeybaord() {
      if (isIOS) {
        frame.topmost().nativeView.endEditing(true);
      }
      if (isAndroid) {
        utils.ad.dismissSoftInput();
      }
    },
    linkIp() {
      let ip = localStorage.getItem("ip");
      prompt({
        title: "Link IP Address",
        message: "Please , Provide your Ip Address :",
        okButtonText: "OK",
        cancelButtonText: "Cancel",
        defaultText: ip,
        inputType: dialogs.inputType.text
      }).then(result => {
        if (result.result) {
          localStorage.setItem("ip", result.text);
        }

        console.log(`Dialog result: ${result.result}, text: ${result.text}`);
      });
    },
    onLoaded() {
      //check auto login if user already login
      let auth = localStorage.getItem("userData");
      if (auth) {
        this.$navigateTo(App, {
          clearHistory: true
        });
      }
    },
    submit() {
      if (!this.user.username || !this.user.password) {
        Alert.Warning("Please, enter your username and password.");
        return;
      } else {
        this.loading = true;
        let url = `find_user/{"username":"${this.user.username}","password":"${this.user.password}"}/{}`;
        APIService.get(url).then(response => {
          if (response.data.result) {
            localStorage.setItem(
              "userData",
              JSON.stringify(response.data.result)
            );
            this.$navigateTo(App, {
              clearHistory: true
            });
            this.loading = false;
          } else {
            Alert.Error("The username or password is incorrect.");
            this.loading = false;
          }
        });
      }
    }
  }
};
</script>

<style scoped>
.page {
  align-items: center;
  flex-direction: column;
  background-image: url("res://bg_login_2");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}

.logo {
  margin-top: 70;
  margin-bottom: 70;
  height: 90;
  font-weight: bold;
}

.header {
  horizontal-align: center;
  font-size: 25;
  font-weight: 600;
  margin-bottom: 70;
  text-align: center;
  color: #ffffff;
}

.input-field {
  margin-bottom: 25;
}

.card {
  padding: 20px;
}

.input {
  font-size: 20;
  color: #ffffff;
  placeholder-color: #ffffff;
}

.label-input {
  font-size: 12;
  color: #ef6c00;
}

.underline-input-color {
  /* background: linear-gradient(to right, #ff8f00, #ef6c00); */
  background: #ffffff;
}

.input-field .input {
  font-size: 54;
  padding: 10px;
  /* border-color: #ef6c00; */
  border-radius: 5;
}

.btn-primary {
  height: 50;
  margin: 30 5 15 5;
  background: linear-gradient(to right, #ff8f00, #ef6c00);
  color: #ffffff;
  border-radius: 5;
  font-size: 20;
  font-weight: 600;
}

.btn-primary:pressed {
  opacity: 0.2;
}

.login-label {
  horizontal-align: center;
  color: #ef6c00;
  font-size: 16;
}

.footer-label {
  horizontal-align: center;
  color: #ffffff;
  margin-top: 10;
  font-size: 14;
}

.sign-up-label {
  margin-bottom: 20;
}

.bold {
  color: #000000;
}

.link {
}
</style>
