<template>
  <Page>
    <ActionBar flat=true>
      <Label text="User Profile"></Label>
      <NavigationButton
        icon="res://chevronleft"
        @tap="goBack"
      />
    </ActionBar>

    <GridLayout
      columns="*"
      rows="auto,*,auto"
    >

      <StackLayout
        columns="0"
        row="0"
        class="header"
      >
        <GridLayout
          columns="*"
          rows="*,*"
        >
          <Image
            column="0"
            row="0"
            class="img-user-profile"
            src="~/assets/images/user-profile.png"
          />

          <Label
            textWrap="true"
            column="0"
            row="1"
            class="user-name"
          >
            <FormattedString>
              <Span text="Hello," />
              <Span
                :text="userDoc.username"
                class="bold"
              />
            </FormattedString>
          </Label>
        </GridLayout>
      </StackLayout>

      <StackLayout
        columns="0"
        row="1"
        orientation="horizontal"
      >
        <ScrollView>
          <GridLayout
            columns="*"
            rows="*,*,*,*"
            class="more-info"
          >

            <StackLayout row="0">
              <Label
                textWrap="true"
                class="underline"
              >
                <FormattedString>
                  <Span
                    text="Full Name : "
                    class="info-title"
                  />
                  <Span :text="userDoc.profile.fullName" />
                </FormattedString>
              </Label>
            </StackLayout>

            <StackLayout row="1">
              <Label
                textWrap="true"
                class="underline"
              >
                <FormattedString>
                  <Span
                    text="Email : "
                    class="info-title"
                  />
                  <Span :text="userDoc.emails[0].address" />
                </FormattedString>
              </Label>
            </StackLayout>

            <StackLayout row="2">
              <Label
                textWrap="true"
                class="underline"
              >
                <FormattedString>
                  <Span
                    text="Role : "
                    class="info-title"
                  />
                  <Span :text="userDoc.roles" />
                </FormattedString>
              </Label>
            </StackLayout>

            <!-- <StackLayout row="3">
              <Label
                textWrap="true"
                class="underline"
              >
                <FormattedString>
                  <Span
                    text="Status : "
                    class="info-title"
                  />
                  <Span :text="userDoc.profile.status" />
                </FormattedString>
              </Label>
            </StackLayout> -->

          </GridLayout>
        </ScrollView>
      </StackLayout>

      <StackLayout
        class="logout-btn-container"
        column="1"
        row="2"
      >
        <Button
          text="Log Out"
          class="text-loggout btn-primary"
          @tap="logOut"
        />
      </StackLayout>

    </GridLayout>
  </Page>
</template>

<script >
import lodash from "lodash";
import LogIn from "../LogIn";
let localStorage = require("nativescript-localstorage");

export default {
  name: "profile",
  data() {
    return {
      msg: "Hello World!"
    };
  },
  computed: {
    userDoc() {
      let auth = JSON.parse(localStorage.getItem("userData"));
      if (auth) {
        return auth;
      }
    }
  },
  methods: {
    goBack() {
      this.$navigateBack();
    },
    logOut() {
      let authRoles = JSON.parse(localStorage.getItem("userData")).roles;

      let checkAdmin = _.indexOf(authRoles, "admin-setting");
      let checkSuper = _.indexOf(authRoles, "super");

      if (checkAdmin >= 0) {
        localStorage.removeItem("userData");
        this.$navigateTo(LogIn, {
          clearHistory: true
        });
      }

      if (checkSuper >= 0) {
        action("Options", "Cancel", [
          "Log out",
          "Log out & Clear IP Address"
        ]).then(result => {
          if (result == "Log out") {
            localStorage.removeItem("userData");
            this.$navigateTo(LogIn, {
              clearHistory: true
            });
          }

          if (result == "Log out & Clear IP Address") {
            localStorage.clear();
            this.$navigateTo(LogIn, {
              clearHistory: true
            });
          }
        });
      }
    }
  }
};
</script>

<style scoped>
ActionBar {
  background-color: #f57c00;
  color: #ffffff;
}

.header {
  background-color: #f57c00;
}
.img-user-profile {
  border-radius: 50%;
  width: 100;
  height: 100;
  border-width: 4;
  border-color: #ffffff;
}

.user-name {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 10px;
}

.user-name .bold {
  font-weight: bold;
}

.btn-primary {
  height: 50;
  margin: 0px 25px 25px 25px;
  background: linear-gradient(to right, #ff8f00, #ef6c00);
  color: #ffffff;
  border-radius: 5;
  font-size: 20;
  font-weight: 600;
}

.img-size-info {
  height: 20;
  width: 20;
  margin-right: 10;
}

.more-info {
  margin: 25px 25px 0px 25px;
  font-size: 15px;
}

.underline {
  width: 100%;
  border-bottom-width: 2.5;
  border-color: #f5f5f5;
  padding: 35px;
}

.info-title {
  color: #f57c00;
  font-weight: bold;
}
</style>
